<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/custom.css') }}">

    <title>ReproServer</title>
  </head>
  <body>

    <div class="container" id="content" role="main">

      <!-- Menubar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ReproServer</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li><a href="{{ reverse_url('index') }}">Upload</a></li>
{% if experiment_url %}
              <li><a href="{{ experiment_url }}">Reproduce</a></li>
{% endif %}
{% if run_id %}
              <li><a href="">View run</a></li>
{% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ reverse_url('about') }}">About</a></li>
              <!--dropdown-->
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="https://gitlab.com/VIDA-NYU/reproserver">GitLab Repository</a></li>
                  <li><a href="https://www.reprozip.org/">ReproZip Website</a></li>
                </ul>
              </li><!--end dropdown-->
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav><!-- End of Menubar -->

      <div class="body-content"> <!--Body content-->

{% block content %}
{% endblock content %}

      </div>
      <!-- end body content -->
    </div>

    <!-- begin footer -->
    <footer id="footer">
      <div align="center">
        <hr/>
        <p>Version: {{ version }}<br/>Any questions or comments can be directed to the <a href="https://vgc.poly.edu/mailman/listinfo/reprozip-users">ReproZip mailing list</a> or on <a href="https://gitlab.com/VIDA-NYU/reproserver">GitLab</a> via an issue.</p>
      </div>
    </footer>
    <!-- end footer -->

    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>

  </body>
</html>
