{% extends "base.html" %}

{% block content %}

<h1>Unrecognized URL</h1>

{% if message %}
<p>{{ message }}</p>
{% else %}
<p>We couldn't recognize the URL you provided.</p>
{% endif %}

<p>Currently, this system recognizes the following URLs:</p>
<ul>
  <li>Direct links to RPZ files hosted on OSF, of the form <code>https://osf.io/&lt;5-character-ID&gt;</code> for example <code>https://osf.io/5ztp2/</code></li>
  <li>Links to files hosted on Zenodo, of the form <code>https://zenodo.org/record/3374942/files/bash-count.rpz</code> (you can pass the record if it only contains one RPZ file, like <code>https://zenodo.org/record/3374942</code>)</li>
  <!-- TODO: Put an actual RPZ on Figshare and link to it -->
  <li>Links to RPZ files hosted on Figshare, of the form <code>https://figshare.com/&lt;path/to/article&gt;/&lt;file_id&gt;</code> for example <code>https://figshare.com/articles/Preserving_and_Reproducing_Research_with_ReproZip/4141776</code></li>
  <li>Links to RPZ files hosted on Mendeley, of the form <code>https://data.mendeley.com/datasets/&lt;id&gt;/1/files/&lt;file_id&gt;</code> (you can pass the article if it only contains one RPZ file, like <code>https://data.mendeley.com/datasets/&lt;id&gt;</code>)</li>
</ul>

{% endblock content %}
