{% extends "base.html" %}

{% block content %}

<h1>Package {{ filename }}</h1>

<h2>Run the experiment</h2>

<form method="POST" action="{{ reverse_url('start_run', upload_short_id) }}" enctype="multipart/form-data">
  {{ xsrf_form_html() }}
  <h3>Parameters</h3>

    {% if params %}

      {% for param in params %}
  <div class="form-group">
    <label for="param_{{ param.name }}">{{ param.description }}</label>
    <input type="text" class="form-control" id="param_{{ param.name }}" name="param_{{ param.name }}" value="{{ param.default }}" placeholder="value">
  </div>
      {% endfor %}

    {% else %}
  <p>No parameters</p>
    {% endif %}

  <h3>Expose ports</h3>
  <div class="form-group">
    <label for="ports">Space-separated list of ports to expose:</label>
    <input type="text" class="form-control" id="ports" name="ports" value="">
  </div>

    {% if input_files %}
  <h3>Input files</h3>

      {% for file in input_files %}
  <div class="form-group">
    <label for="inputfile_{{ file.name }}">{{ file.name }}</label>
    <input type="file" class="form-control-file" id="inputfile_{{ file.name }}" name="inputfile_{{ file.name }}">
  </div>
      {% endfor %}
    {% endif %}

  <button type="submit" class="btn btn-default">Run</button>
</form>

{% endblock content %}
