**/.env
k8s

# Downloaded from get_assets.sh
reproserver/web/static/js/archivewebpage-ui.js
reproserver/web/static/replay/sw.js
reproserver/web/static/js/replaywebpage-ui.js
reproserver/web/static/replay/rwp-sw.js

reprozip/.travis
reprozip/docs
reprozip/reprozip-jupyter
reprozip/reprounzip-qt
reprozip/reprounzip-vagrant
reprozip/reprounzip-vistrails
reprozip/reprozip
reprozip/scripts
reprozip/tests

# Git
**/.git
**/.gitignore

# Python
**/__pycache__
**/*.pyc
**/.ipynb_checkpoints

# Packages
**/*.egg
**/*.egg-info
**/dist
**/build
**/eggs
**/parts
**/bin
**/var
**/sdist
**/develop-eggs
**/.installed.cfg
**/lib
**/lib64

# Installer logs
**/pip-log.txt

# Unit test / coverage reports
**/.coverage
**/.tox
**/nosetests.xml

# Eclipse PyDev
**/.project
**/.pydevproject

# PyCharm
**/.idea

# ViM
**/.*.swp

# Emacs
**/#*#

# OS files
**/.DS_Store
**/desktop.ini

# Archives
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.zip
**/*.whl

# Vagrant
**/.vagrant
