S3_KEY=reproserver
S3_SECRET=hackmehackme
S3_URL=http://minio:9000
S3_BUCKET_PREFIX=reproserver-
S3_CLIENT_URL=http://localhost:9000
POSTGRES_USER=reproserver
POSTGRES_PASSWORD=hackmehackme
POSTGRES_HOST=postgres
POSTGRES_DB=reproserver
REGISTRY=registry:5000
