{% extends "base.html" %}

{% block content %}

<h1>About ReproServer</h1>

<p><a href="https://www.reprozip.org/">ReproZip</a> is a tool aimed at simplifying the process of creating reproducible experiments from command-line executions, a frequently-used common denominator in computational science. It tracks operating system calls and creates a package that contains all the binaries, files and dependencies required to run a given command on the author's computational environment (packing step).</p>

<p>This web, still work in progress, enables you to reproduce those packages from your web browser, without having to install ReproUnzip on your own computer.</p>

{% endblock content %}
