{% extends "base.html" %}

{% block content %}

{% for experiment in experiments %}

    <h1>Experiment: {{ experiment.hash }}</h1>

    <p>Status: {{ experiment.status }}</p>

    {% for upload in experiment.uploads %}

        <p>Uploaded by {{ upload.submitted_ip }} at {{ upload.timestamp }}
        as {{ upload.filename }}</p>

    {% endfor %}

    {% for parameter in experiment.parameter %}

        <p>Parameter: {{ parameter.name }}
        ({% if parameter.optional %}optional{% else %}required{% endif %})</p>

    {% endfor %}

    {% for run in experiment.runs %}

        <h2>Run {{ run.id }} submitted at {{ run.submitted }}</h2>

        <p>Started: {{ run.started }}<br/>
        Done: {{ run.done }}</p>

        <pre>{% for line in run.log %}{{ line }}
{% endfor %}</pre>

    {% endfor %}

{% endfor %}

{% endblock content %}
