{% extends "base.html" %}

{% block content %}

<h1>Select a package to unpack</h1>

<form method="POST" action="{{ url_for('unpack') }}" enctype="multipart/form-data">
  <div class="form-group">
    <label for="rpz_file">Upload a file</label>
    <input type="file" class="form-control" id="rpz_file" name="rpz_file" placeholder="experiment.rpz">
  </div>
  <div class="form-group">
    <label for="rpz_url">or provide a package's URL</label>
    <input type="text" class="form-control" id="rpz_url" name="rpz_url" placeholder="http://experiment.rpz" disabled>
  </div>
  <button type="submit" class="btn btn-default">Unpack</button>
</form>

<hr/>

<h2>How to Use This Site</h2>
<p>This site allows you to run reproducible research packaged with <a href="https://reprozip.org/">ReproZip</a> directly from your browser. Upload your own <code>.rpz</code> file, or try uploading one of the examples from the <a href="https://examples.reprozip.org/">ReproZip-Examples repository</a>, and click the "Unpack" button!</p>

<p>From there, you can view the build log and (optionally) upload your own inputs. To reproduce the work as-is, simply click the "Run" button and watch as the research is rerun before your eyes, complete with an additional build log and the outputs from the research, which you can then download.</p>

<p>In the future, you will be able to simply provide a link to a <code>.rpz</code> file and unpack and rerun it. Keep your eyes out!</p>

<p>You can also choose one of the examples below to test it out!</p>

<h2>Examples</h2>
{% if examples %}

  {% for example in examples %}

<p><a href="{{ url_for('reproduce', experiment_code=example.upload.experiment_code) }}">{{ example.upload.filename }}</a>: {{ example.description }}</p>

  {% endfor %}

{% else %}

<p>No examples on this server yet.</p>

{% endif %}

{% endblock content %}
