.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

/* -------------------- BODY -------------------- */

a:hover, a:focus {
  color: #4AA8DC;
  text-decoration: underline;
}

a {
  color: #57068C;
  text-decoration: underline;
}

.u-url {
  text-decoration: none;
}

/* -------------------- NAVBAR -------------------- */

.navbar-inverse {
  background-color: #57068C;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color:#4AA8DC;
}

.navbar-inverse .navbar-nav >.open >a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #4AA8DC;
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  text-decoration: none;
  padding-left: 1.3em;
  padding-right: 1.3em;
  font-size:1.2em;
}

.navbar-inverse .navbar-nav > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color:#4AA8DC;
  text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a:hover{
  color: #4AA8DC;
}

.navbar-inverse .navbar-brand {
  text-decoration: none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color:#4AA8DC;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #2791cc;
}

/* -------------------- BUTTONS -------------------- */

.btn-default {
  color: #ffffff;
  background-color: #9a69ba;
  border-color: #9a69ba;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #671e97;
  border-color: #000000;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #671e97;
  border-color: #4c3759;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #671e97;
  border-color: #671e97;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #671e97;
  border-color: #671e97;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #671e97;
  border-color: #671e97;
}

.btn-default .badge {
  color: #9c7eaf;
  background-color: #ffffff;
}

/* -------------------- PANEL -------------------- */

.panel-success {
  border-color: #AB82C5;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #AB82C5;
  border-color: #AB82C5;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #AB82C5;
}
.panel-success > .panel-heading .badge {
  color: #AB82C5;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #AB82C5;
}
