{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ reverse_url('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ experiment_url }}">Package {{ filename | truncate(60) }}</a></li>
    <li class="breadcrumb-item" aria-current="page">Web capture</li>
  </ol>
</nav>

<h1 class="display-6">Web Capture</h1>

<h2 class="mb-3">Info about your files</h2>

<div class="mb-3 row">
  <p class="col-sm-2">RPZ File:</p>
  <p class="col-sm-10">{{ filename }}, {{ filesize | human_size }}</p>
</div>
<div class="mb-3 row">
  <p class="col-sm-2">WACZ FILE:</p>
  <p class="col-sm-10">
    {% if wacz %}
    present, {{ wacz.filesize | human_size }}
    {% else %}
    none
    {% endif %}
  </p>
</div>

<h2 class="mb-3">Edit parameters for web capture</h2>

<form method="POST">
  {{ xsrf_form_html() }}
  <div class="mb-3 row">
    <label for="port_number" class="col-sm-2 col-form-label">Port number:</label>
    <div class="col-sm-10">
      <input type="number" name="port_number" id="port_number" class="form-control" min="1" max="65535" value="{{ port_number }}">
      <small>Enter the port number that the web server listens on.</small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="hostname" class="col-sm-2 col-form-label">Hostname:</label>
    <div class="col-sm-10">
      <input type="text" name="hostname" id="hostname" class="form-control" value="{{ hostname }}" placeholder="Default: localhost:<port>">
      <small>Optional. If the server expects to be reached at a specific address, you can enter it here. This is useful to circumvent security features or specific setups where the website will only work if we seem to be reaching it from a specific address. It doesn't change the port that we are actually using, which is selected above.</small>
    </div>
  </div>
  <div class="my-3 row fullsize-buttons">
    <div class="col-md">
      <h2>Manually capture</h2>
      <p>Browse your app from here, recording every page you visit.</p>
      <input type="submit" formaction="{{ reverse_url('webcapture_start_record', upload_short_id) }}" class="btn btn-primary" value="Record from browser">
    </div>
    <div class="col-md">
      <h2>Start automated capture</h2>
      <p>Launch a web crawler which will try to visit all pages automatically.</p>
      <input type="submit" formaction="{{ reverse_url('webcapture_start_crawl', upload_short_id) }}" class="btn btn-primary" value="Start automated crawl">
    </div>
    <div class="col-md">
      <h2>Upload existing file</h2>
      <p>If you have a WACZ file ready, use this option to upload it.</p>
      <input type="submit" formaction="{{ reverse_url('webcapture_upload_wacz', upload_short_id) }}" class="btn btn-secondary" formmethod="GET" value="Upload existing file">
    </div>
  </div>
  <p>After the crawl is complete, you will be redirected to this page. From there, get a preview of the replayed app, or download the new RPZ file (with the WACZ file in it).</p>
  {% if wacz %}
  <div class="row justify-content-center fullsize-buttons">
    <div class="col-md-4">
      <h2>Get the finished RPZ bundle</h2>
      <div class="mb-3">
        <input type="submit" formaction="{{ reverse_url('webcapture_download', upload_short_id, wacz=wacz.hash) }}" class="btn btn-primary" value="Download finished RPZ">
      </div>
      <div class="mb-3">
        <input type="submit" formaction="{{ reverse_url('webcapture_preview', upload_short_id, wacz=wacz.hash) }}" class="btn btn-secondary" value="Preview the result">
      </div>
    </div>
  </div>
  {% endif %}
</form>

{% endblock content %}
