{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ reverse_url('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ experiment_url }}">Package {{ filename | truncate(60) }}</a></li>
    <li class="breadcrumb-item" aria-current="page">Web capture</li>
  </ol>
</nav>

<h1>Web Capture</h1>

<p>Use this page to capture the remote assets that are referenced by your application (CSS, JS, etc). This will allow it to keep working correctly in web browsers if those remote sources go away.</p>

<p>After completing this process, you will be able to download a new RPZ file with an embedded WACZ archive.</p>

<div class="row">
  <p class="col-lg-2 col-sm-4">Input RPZ File:</p>
  <p class="col-lg-10 col-sm-8">{{ filename }}, {{ filesize | human_size }}</p>
</div>

{% if wacz %}
<div class="row">
  <p class="col-lg-2 col-sm-4">Detected WACZ FILE:</p>
  <p class="col-lg-10 col-sm-8">
    {{ wacz.filesize | human_size }}
  </p>
</div>

<div class="alert alert-primary d-flex align-items-center" role="alert">
  <svg viewBox="0 0 16 16" class="flex-shrink-0 me-2" role="img" style="width: 1em; height: 1em;" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
    Captured web content is already present. If you proceed, it will be replaced with a new WACZ file.
  </div>
</div>
{% endif %}

<h2 class="mb-3">Edit parameters for web capture</h2>

<form method="POST">
  {{ xsrf_form_html() }}
  <div class="mb-3">
    <label for="port_number" class="col-form-label">Port number:</label>
    <div class="row"><div class="col-sm-12 col-md-6">
      <input type="number" name="port_number" id="port_number" class="form-control" min="1" max="65535" value="{{ port_number }}">
    </div></div>
    <small>Enter the port number that the web server listens on.</small>
  </div>
  <div class="mb-3" id="hostname-label">
    <label class="col-form-label" id="hostname-false">We will query your app at <code class="hostname-default">http://localhost:&lt;port&gt;</code>. <a href="#hostname" id="hostname-set-true" class="hostname-toggle" role="button">Change (advanced)</a></label>
    <label for="hostname-input" class="col-form-label" id="hostname-true" style="display: none;">Address to send to the app (or <a href="#hostname" id="hostname-set-false" class="hostname-toggle" role="button">reset to default</a>):</label>
    <div class="collapse" id="hostname-div">
      <div class="row"><div class="col-sm-12 col-md-6">
        <div class="input-group">
          <span class="input-group-text">http://</span>
          <input type="text" name="hostname" id="hostname-input" class="form-control" value="{{ hostname }}" placeholder="default: localhost:<port>">
        </div>
      </div></div>
      <small>Optional. If the server expects to be reached at a specific address, you can enter it here. This is useful to circumvent security features or specific setups where the website will only work if we seem to be reaching it from a specific address. It doesn't change the port that we are actually using, which is selected above.</small>
    </div>
  </div>
  <div class="mt-5 mb-3 row">
    <div class="col-md d-flex flex-column">
      <div>
        <h2>Manual capture</h2>
        <p>You will see the app running, browse the site to interactively capture pages.</p>
      </div>
      <div class="mt-auto">
        <input type="submit" formaction="{{ reverse_url('webcapture_start_record', upload_short_id) }}" class="btn btn-primary" value="Manually capture">
      </div>
    </div>
    <div class="col-md d-flex flex-column">
      <div>
        <h2>Automated capture</h2>
        <p>ReproZip-Web will attempt to capture everything by crawling the site.</p>
      </div>
      <div class="mt-auto">
        <input type="submit" formaction="{{ reverse_url('webcapture_start_crawl', upload_short_id) }}" class="btn btn-primary" value="Start automated capture">
      </div>
    </div>
    <div class="col-md d-flex flex-column">
      <div>
        <h2>Upload existing file</h2>
        <p>If you have a WACZ file ready, use this option to upload it.</p>
      </div>
      <div class="mt-auto">
        <input type="submit" formaction="{{ reverse_url('webcapture_upload_wacz', upload_short_id) }}" class="btn btn-secondary" formmethod="GET" value="Upload existing file">
      </div>
    </div>
  </div>
  <p>After the capture is complete, you will be redirected to this page. From there, get a preview of the replayed app, or download the new RPZ file (with the WACZ file in it).</p>
</form>

<script>
window.addEventListener('load', function() {
  var hostnameCollapse = new bootstrap.Collapse(document.getElementById('hostname-div'), {toggle: false});
  function setHostnameExpanded(expanded) {
    if(expanded) {
      hostnameCollapse.show();
      document.getElementById('hostname-true').style.display = '';
      document.getElementById('hostname-false').style.display = 'none';
    } else {
      hostnameCollapse.hide();
      document.getElementById('hostname-true').style.display = 'none';
      document.getElementById('hostname-false').style.display = '';
      document.getElementById('hostname-input').value = '';
    }
  }
  document.getElementById('hostname-set-true').addEventListener('click', function(e) { e.preventDefault(); setHostnameExpanded(true); });
  document.getElementById('hostname-set-false').addEventListener('click', function(e) { e.preventDefault(); setHostnameExpanded(false); });
  {% if hostname %}
  setHostnameExpanded(true);
  document.getElementById('hostname-input').value = {{ hostname | tojson }};;
  {% endif %}

  function updateHostnameDefault() {
    [].forEach.call(document.getElementsByClassName('hostname-default'), function(elem) {
      elem.innerText = 'http://localhost:' + document.getElementById('port_number').value;
    });
  }
  document.getElementById('port_number').addEventListener('input', updateHostnameDefault);
  updateHostnameDefault();
});
</script>

{% endblock content %}
