{% set current_nav = 'webcapture' %}

{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ reverse_url('index') }}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Web capture</li>
  </ol>
</nav>

<h1>Web Capture</h1>

<p>This page lets you lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper lorem vitae porta malesuada. Sed dictum turpis non consequat porttitor. Sed tellus arcu, tempus non diam in, rutrum pharetra sapien. Pellentesque hendrerit libero sit amet mattis finibus. In in tortor non tellus commodo vestibulum sit amet elementum magna. Praesent vestibulum mollis enim, eu mollis erat venenatis nec. Duis nulla libero, sagittis non maximus ac, venenatis vulputate risus.</p>

<form method="POST" action="{{ reverse_url('webcapture_upload') }}" enctype="multipart/form-data">
  {{ xsrf_form_html() }}
  <div class="mb-3">
    <label for="rpz_file" class="form-label">Upload a <code>.rpz</code> file to get started</label>
    <input type="file" class="form-control" id="rpz_file" name="rpz_file" placeholder="experiment.rpz" accept=".rpz">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

<script>
var fileInput = document.getElementById('rpz_file');
var submitButton = fileInput.closest('form').querySelector('button[type="submit"]');
function updateUploadForm() {
  if(fileInput.value) {
    submitButton.removeAttribute('disabled');
  } else {
    submitButton.setAttribute('disabled', true);
  }
}
fileInput.addEventListener('change', updateUploadForm);
updateUploadForm();
</script>

{% endblock content %}
