{% set current_nav = 'webcapture' %}

{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ reverse_url('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ reverse_url('webcapture_index') }}">Web capture</a></li>
    <li class="breadcrumb-item"><a href="{{ reverse_url('webcapture_dashboard', upload_short_id) }}">Package {{ run.upload.filename | truncate(60) }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Upload a WACZ file</li>
  </ol>
</nav>

<h1>Error reading WACZ file</h1>

{% if message %}
<p>{{ message }}</p>
{% else %}
<p>There was an error reading the file, is it a valid WACZ?</p>
{% endif %}

{% endblock content %}
