{% extends "base.html" %}

{% block content %}

<h1>Live recording here (from browser)</h1>

<p>Run log:</p>
<pre id="log" style="max-height: 200px">{% for line in log %}{{ line }}
{% endfor %}</pre>

<script>
var log_lines = {{ log | length }};
function update_page() {
  var req = new XMLHttpRequest();
  req.addEventListener("load", function(e) {
    if(this.status == 200) {
      if(this.response.done) {
        window.location.reload();
      } else if(this.response.log.length > 0) {
        log_lines += this.response.log.length;
        var dom_log = document.getElementById("log");
        dom_log.textContent += this.response.log.join("\n") + "\n";
      }
    }
    setTimeout(update_page, 3000);
  });
  req.responseType = "json";
  req.open("GET", "{{ reverse_url('results_json', run.short_id) }}?log_from=" + log_lines);
  req.setRequestHeader("Accept", "application/json");
  req.send();
}

setTimeout(update_page, 3000);

window.addEventListener("load", () => {
  document.querySelector("#upload").addEventListener("click", doUpload);
});

async function doUpload() {
  const recorder = document.querySelector("record-web-page");
  if (!recorder) {
    return;
  }

  const blobUrl = await recorder.doDownload();
  console.log(blobUrl);

  const resp = await fetch(blobUrl);
  const blob = await resp.blob();

  const f = new FormData();
  f.append("wacz_file", blob, "wacz_file.wacz");

  const headers = {"Accept": "application/json"};

  const resp2 = await fetch("{{ reverse_url('webcapture_upload_wacz', upload_short_id) }}", {method: "POST", headers, body: f});

  const json = await resp2.json();

  // todo: add error handling
  if (json.redirect_url) {
    window.location.href = json.redirect_url;
  }
}

</script>


<details open>
<summary style="display: list-item">Web Archive Capture</summary>
<button class="btn btn-default" id="upload">Upload WACZ</button>
<record-web-page
  style="height: 500px; display: flex; margin-top: 10px; border: 1px solid black;"
  url="http://localhost:{{ port_number }}/"
  replayBase="/static/replay/"
  coll="{{ run.short_id }}"
  noWebWorker
  config='{"hostProxy": {"localhost:{{ run.ports[0].port_number }}": {"prefix": "/results/{{ run.short_id }}/port/{{ run.ports[0].port_number }}", "pathOnly": true}}}'
>
</record-web-page>
</details>

{% endblock content %}
