{% set current_page = 'webcapture_upload_wacz' %}

{% extends "base.html" %}

{% block content %}

<h1>Upload a WACZ file</h1>

<p>This page lets you lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper lorem vitae porta malesuada. Sed dictum turpis non consequat porttitor. Sed tellus arcu, tempus non diam in, rutrum pharetra sapien. Pellentesque hendrerit libero sit amet mattis finibus. In in tortor non tellus commodo vestibulum sit amet elementum magna. Praesent vestibulum mollis enim, eu mollis erat venenatis nec. Duis nulla libero, sagittis non maximus ac, venenatis vulputate risus.</p>

<form method="POST" action="{{ reverse_url('webcapture_upload_wacz', upload_short_id) }}" enctype="multipart/form-data">
  {{ xsrf_form_html() }}
  <input type="hidden" name="hostname" value="{{ hostname }}">
  <input type="hidden" name="port_number" value="{{ port_number }}">
  <div class="mb-3">
    <label for="wacz_file" class="form-label">WACZ file</label>
    <input type="file" class="form-control" id="wacz_file" name="wacz_file" placeholder="capture.wacz">
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% endblock content %}
